<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Mass Calculator for Concentration</h1>

  <ion-card>
  
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label text-wrap class="concentration-abr">Conc. : </ion-label>
              <ion-label text-wrap class="concentration">Concentration : </ion-label>
            </ion-item> 
          </ion-col>
          <ion-col>
            <ion-item class="input">
              <ion-input type="tel" [(ngModel)]="Perc" name="Desired %" (ionChange)= "calcul()"></ion-input>
            </ion-item> 
          </ion-col>
          <ion-col>
            <ion-item>
              %
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label text-wrap>Desired Volume: </ion-label>
            </ion-item> 
          </ion-col>
          <ion-col>
            <ion-item class="input">
            <ion-input type="tel" [(ngModel)]="Volume" name="Volume" (ionChange)= "calcul()"></ion-input>
            </ion-item> 
          </ion-col>
          <ion-col>
            <ion-item>
            <ion-select [(ngModel)]="VUnit" interface="action-sheet" (ionChange)= "calcul()">
              <ion-select-option *ngFor="let unit of UVolume" [value] ="unit">{{unit.unit}}</ion-select-option>
            </ion-select>
            </ion-item> 
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item text-wrap>
              Weight:
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item style ="--color:yellow;">
            {{ Output}}
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-select class="ion-float-right" style="align-self:right" [(ngModel)]="PUnit" interface="action-sheet" (ionChange)= "calcul()">
                <ion-select-option *ngFor="let unit of UMass" [value] ="unit">{{unit.unit}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
