ion-toolbar{
    --background: #3b3b3b;
    --color: white;
    box-shadow: inset 4px 4px 15px 25px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

ion-input{
    margin-right:0%;
}
ion-content, ion-item{
    --background: black;
    --color: white;
    --width:100%;
}
ion-select{
    --align:left;
/*     position:relative;
    right:0%; */
}

h1{
    text-align:center;
}