<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>{{ folder }}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=brnrcamille@gmail.com" target="_blank">
    <ion-card>
      <ion-card-header>
        Contact us!
      </ion-card-header>
      <ion-item>
        Make a suggestion, report a bug or others things you want to share with us.
      </ion-item>
      
      <ion-card-content>
  
      </ion-card-content>
    </ion-card>
  </a>


</ion-content>
